apiVersion: v1
kind: Service
metadata:
  name: saas-gateway-app
  namespace: saas-gateway
  labels:
    app: saas-gateway-app
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    app: saas-gateway-app
